# JNTUA FDP - Day 05

#### Date:31 May 2019

#### Day Objectives
* Tuples
* Dictionaries
* Idiomatic Programming in Python
* Regular Expressions
* Linear and Binary Search
* Date Arithmetic
* Iterators and Generators
* Functional Programming

#### Python Tuples

Tuples are immuatble we cant change values

In [2]:
t1=(1001,"name",72,81)

t1

(1001, 'name', 72, 81)

In [3]:
t1.append(81)
t1

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
t1.sort() # we cant change the order as it is immutable
t1

AttributeError: 'tuple' object has no attribute 'sort'

In [5]:
t1[2:]

(72, 81)

In [8]:
t2=(321,654,789098)
#Accessing all the second digits of elements in a Tuple
str(t2[0])[1] , str(t2[1])[1] , str(t2[2])[1]

('2', '5', '8')

In [10]:
# Average of  all elements in a Tuple
#Function to calculate Average

def averageLinearDS(t):
    sum=0
    avg=0
    for i in range(0,len(t)):# for item in t:
        sum=sum+t[i]         # sum+=item
    return sum/len(t)
li=[123,243,456,678,890]
averageLinearDS(li)

478.0

In [24]:
# Function to search in  a Linear Data Structure



def LinearDS(ds,key):
    for i in range(0,len(ds)):
        if ds[i]==key:
            return i
    else:
        return -1

In [26]:
LinearDS((1,2,3,4),3)

2

  ### Iterable objects

In [27]:
s="python"
for c in s:
    print(c)

p
y
t
h
o
n

In [31]:
#Function to identify the maximum element in a DS as an iterable objects 

def MaxelementDS(ds):
    max=0
    for item in ds:
        if item > max:
            max=item
    return max

In [33]:
MaxelementDS(li)

890

## Python Dictionaries
### It is a Non-linear data structures
### it is not oredered 
#### Accessing values through keys
ex:contacts

In [34]:
d1={"name1":123456789,"name2":147894553}
d1

{'name1': 123456789, 'name2': 147894553}

In [35]:
d1["name1"]

123456789

In [36]:
d1.keys()# to display list of all keys
`#All keys in a dictionary are unique
#values can repeat
#we cant access keys through values

dict_keys(['name1', 'name2'])

In [39]:
d1.values()

dict_values([123456789, 147894553])

In [40]:
d1["name3"]=321456789
d1

{'name1': 123456789, 'name2': 147894553, 'name3': 321456789}

In [41]:
d1.pop("name3") # remove a key and value
d1

{'name1': 123456789, 'name2': 147894553}

In [43]:
# contacts Application
# Add Contact
# Modify Contact
#Delete Contact
#Display Contact

contacts={}

In [52]:
def addContact(contacts,name,phone):
    contacts[name]=phone
    return
addContact(contacts,"name1",123456789)
contacts

{'name1': 123456789, 'name2': 124789654}

In [53]:
def displayContacts(contacts):
    for name,phone in contacts.items():
        print(name,":",phone)
    return

In [54]:
# ADDING cONTACTS
addContact(contacts,"name2",124789654)
addContact(contacts,"name1",12478966)

In [55]:
# displaying   contacts
displayContacts(contacts)

name1 : 12478966
name2 : 124789654

In [56]:
contacts.items()# List of tuples of All items

dict_items([('name1', 12478966), ('name2', 124789654)])

In [57]:
#d1.update(d2) #merges two dictionaries
"name2" in contacts

True

In [58]:
def ModifyContacts(contacts,name,newphone):
    contacts[name] = newphone
    return

In [ ]:
def deleteContacts(contacts,name):
    contacts.pop(name)
    return

In [60]:
li2=[1,2,3,4]

enumerate(li2)
for i,value in enumerate(li2):
    print(i,":",value)

0 : 1
1 : 2
2 : 3
3 : 4

In [61]:
li2=list(reversed(li2))
type(li2)
li2

[4, 3, 2, 1]

In [62]:
li3=[2,5,7,8]
li2
li3
for i,j in zip(li2,li3):# zip is used to merging two lists and iterating each value
    print(i,j)

4 2
3 5
2 7
1 8

### Python Regular Expressions

[0-9] Regular For all  Single digits
[0,1,2...9]
0
1
2
3

[a-z] RE For all lower case Alphabets
[A-Z] RE For all upper case Alphabets

[10] RE For boolean values

#Function to validate college student roll no
#Function to validate indian phone numbers starting 9,8,7,6 and have 10 digits
#Function to validate email address
    username@domain.extension
    username={string of length 9. can contain digits, _,alphabets}
    domain=(string of 9. can contain digits and alphabets)
    extension={length of 3. Only alphabet}

In [66]:
import re
s = 'bhavyachowdary.manam@gmail.com'
match = re.search(r'\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}\b', s, re.I)
print(match.group())

bhavyachowdary.manam@gmail.com

In [ ]:
import re
n=int(input())
for i in range(n):
    if re.match

In [71]:
def phonenumber(phone):
    if re.match('^[6-9][0-9]{9}$',phone):
        print("valid")
    else:
        print("Invalid")

In [73]:
phonenumber("123456789")

Invalid

In [ ]:
def Validrollnumber(number):
    if re.match(r'[1][0][9])

In [74]:
import re
def phonenumberValidator(phone):
    phone=str(phone)
    pattern="^[6-9][0-9]{9}$"
    if re.match(pattern,phone):
        return True
    return False

In [76]:
phonenumberValidator(9959754455)

True

In [77]:
s1="introduction to programming concepts with scratch, Scratch environment, sprites looks and motion, Angles and directions, repetition and variation, changing costumes, adding background, Input/Output,  variables and operators. Working with sounds and sprite communication and creating stories, App Generation."

In [78]:
syllabusList=re.split('[,][\ ]',s1)

syllabusList

['introduction to programming concepts with scratch',
 'Scratch environment',
 'sprites looks and motion',
 'Angles and directions',
 'repetition and variation',
 'changing costumes',
 'adding background',
 'Input/Output',
 ' variables and operators. Working with sounds and sprite communication and creating stories',
 'App Generation.']

## Python  Date Time Arithmetic

In [80]:
import datetime
type(datetime.datetime.now())

datetime.datetime

In [81]:
datetime.datetime.now().year#To access the year

2019

In [85]:
import datetime
now=datetime.datetime.now()#CREATING A OBJECT NOW
now.day

31

In [86]:
print(now.minute,now.second)

8 47

In [87]:
print(now)

2019-05-31 17:08:47.501929

In [ ]:
## TIMESTAMP REPRESENTS TOTAL NO. OF SECONDS

In [103]:
# fUNCTION TO FIND THE DIFFERENCE BETWEEN TWO GIVEN DATES
## YYYY:MM:DD is the date format as a string
def dateDifference(date1,date2):
    year1 = int(date1[:4])
    month1 = int(date1[5:7])
    day1 = int(date1[8:])
    year2=int(date2[:4])
    month2=int(date2[5:7])
    day2=int(date2[8:])
    date1=datetime.date(year1,month1,day1)
    date2=datetime.date(year2,month2,day2)
    return date2-date1

In [106]:
print(dateDifference('1993:07:31','2019:06:01'))

9436 days, 0:00:00

In [107]:
import calendar
calendar.isleap(2016)

True

In [108]:
def isLeap(year):
    if (year % 4==0 or year % 400==0) and (year%100 != 0):
        return True
    else:
        return False

In [109]:
isLeap(2020)

True

## List Comprehensions

In [110]:
li = [1,2,3,4,5,6]


sum(li)

21

In [111]:
n=123
sum(range(123))

7503

In [112]:
range(123)

range(0, 123)

In [114]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [115]:
sum(list(range(9)))

36

In [116]:
list(range(9+1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
# Calculate sum of square root of n natural numbers
from math import sqrt
def sumsqrtNaturalnumbers(n):
    return sum([sqrt(i) for i in list(range(1,n+1))])

In [122]:
sumsqrtNaturalnumbers(10)

22.4682781862041

In [129]:
def squareListElements(li):
      return [i ** 2 for i in li]

In [130]:
squareListElements(li)

[1, 4, 9, 16, 25, 36]

In [147]:
li1=list(range(1,50))

In [148]:
def divisibility(li1):
    return [i for i in li1 if i % 9==0]

In [149]:
#divisibility(li1)

[9, 18, 27, 36, 45]

In [152]:
[i for i in li1 if i % 9==0]

[9, 18, 27, 36, 45]

## Maps 

Functions  and iterators are passed as parameters to Map datastructures

In [153]:
# Function to calculate the cubes of all numbers in a list

li=[1,2,3,4,5]

def cube(n):
    return n ** 3



map(cube,li)

In [154]:
print(map(cube,li))

<map object at 0x0000029D1E3C9860>

In [155]:
list(map(cube,li))

[1, 8, 27, 64, 125]

In [156]:
len(list(map(cube,li)))

5

In [157]:
sum(list(map(cube,li)))

225

In [158]:
for i in li:# using list comprehension
    cube(i)
sum([cube(i) for i in li])

225